ion-content ion-toolbar {
  --background: translucent;
}

ion-content{
  --ion-background-color: #efefef;
}

ion-card-header {
  font-weight: bold;
}

ion-card {
  background: #fff;
}

ion-icon {
  color: red;
  vertical-align: middle;
}
