<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Corona Chart 2020 - India
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            This app uses the api from
          </ion-card-header>
          <ion-card-content>
            <a href="http://covid19india.org">
              <ion-button color="primary" expand="full">covid19india.org</ion-button>
            </a>
            <p>The information automatically refreshes every 30 minutes. Will be customizable in the next version.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            Disclaimer
          </ion-card-header>
          <ion-card-content>
            This application merely fetches data from the API provided by covid19india.org (api.covid19india.org).
            Please visit the website to read more. This application does not guarantee the reliability of the data it
            shows.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content class="ion-text-center">
            Made with <ion-icon name="heart"></ion-icon> by Sam S.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content class="ion-text-center">
            <p>Icon made by <a href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a> from <a
                href="www.flaticon.com">www.flaticon.com</a></p>
            <p>Icon made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a
                href="www.flaticon.com">www.flaticon.com</a></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>