.outer-box {
    background: #fff;
    color: #4d4d4d;
    padding: 5px 5px 0px 5px;
    height: auto;
    border: 1px solid #dadada;
    border-radius: 5px;
    // margin-top: 10px;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin-top: 1px;
}

.subtitle {
    font-size: 0.8em;
}

.ref-button {
    padding: 5px;
    color: #fff;
    background: none;
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
}